@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.centered-flex {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    width: 100vw; 
    height: 100vh; 
    padding: 50px;
    background-image: url("fundo-game.png"); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    overflow: hidden; 
}

#menuInicial {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    text-align: center; 
    background-image: url("fundo-menu.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh; 
    gap: 20px;
    transition: opacity 0.5s ease-in-out;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; 
    width: 100vw;
    height: 100vh; 
}

#botaoJogar {
    padding: 20px 50px; 
    background: #f1ea58; 
    color: black;
    border: 2px solid #f1ea58; 
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s, box-shadow 0.3s;
    font-family: 'Press Start 2P', cursive;
    font-size: 17px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-top: 40px;
}

#botaoJogar:hover {
    background-color: #b7bbba; 
    box-shadow: 0 0 25px #b7bbba;
}

#gameContainer {
    position: relative; 
    margin: 20px auto;
    width: 800px;
    height: 600px;
    border: 3px solid #f1ea58;
    display: none;
}

#meuCanvas {
    width: 100%; 
    height: 100%;
    background-color: black; 
    cursor: none;
    border: 5px solid #f1ea58;
}

#botoesFimDeJogo {
  position: absolute; 
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex; 
  flex-direction: column; 
  gap: 15px;
  z-index: 500;
}

#botoesFimDeJogo button {
  padding: 17px 60px; 
  font-size: 20px;
  border-radius: 8px; 
  cursor: pointer;
}

#botoesFimDeJogo button {
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  font-weight: bolder;
  text-transform: uppercase;
}

#botaoReiniciar { 
  background: #b7bbba; 
  margin-top: 50px;
  border: 2px solid #b7bbba; 
}

#botaoReiniciar:hover {
  background: #33afe2;
  margin-top: 50px;
  box-shadow: 0 0 15px #33afe2;
}

#botaoMenu     { 
  background: #f1ea58; 
  border: 2px solid #f1ea58; 
}

#botaoMenu:hover {
  background: #33afe2;
  box-shadow: 0 0 15px #33afe2;
}

#botoesFimDeJogo button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

@media (max-width: 850px) {
  #gameContainer { transform: scale(0.9); }
}
@media (max-width: 720px) {
  #gameContainer { transform: scale(0.8); }
}
@media (max-width: 600px) {
  #gameContainer {
    transform: scale(0.7);
    margin-top: 50px;
  }
}

h1 {
    font-family: 'Press Start 2P', cursive; 
    font-size: 18px;
    color: #f1ea58;
    text-shadow: 2px 2px 0 #000;
    position: fixed;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    padding: 10px 20px;
    border: 2px solid #b7bbba;
    border-radius: 8px;
    z-index: 1000;
}